
  .cu-button.primary{
    background-color: $primary-color;
    border: $primary-border;
    padding: $space;
    cursor: $click-cursor;
    text-shadow: $shadow-grey;
    box-shadow: $shadow-grey;
    color: $black;

    &:hover {
      background-color: $primary-color-dark;
    }
    
  }  

.cu-button {
    background-color: $secondary-color;
    border: $secondary-border;
    color: $white;
    padding: $space;
    cursor: $click-cursor;
    text-shadow: $shadow;
    box-shadow: $shadow;

    &:hover {
      background-color: $secondary-color-dark;
    }
    
  }


