.cu-header {
    background-color: $primary-color;
    border-bottom: $primary-border;
    padding: 16px 0;

    text-align: center;

    .cu-brand {
        color: $white;
        font-size: 30px;
        font-weight: 900;
        text-shadow: $shadow;
        padding: $space;
    }
}
 

.cu-nav {
    padding: $space-x;
    font-size: 20px;
    display: inline-block;
    padding: 0 30px;
    a {
        display: inline-block;
        padding: $space $space-double;
        text-decoration: none;
        cursor: pointer;

        &.active {
            border-bottom: 3px solid $secondary-color;
            
          }

    }


}

.cu-nav 
.cu-nav 
      .cu-nav a :hover {
        background-color: $neutral-color-dark;
        border-bottom: $neutral-border;
        color: $black;
      }
    