

.cu-illustrated-list {
    padding: $space-y;    
 
  
  ul {
    list-style: none;
    padding: 0;
    border: $neutral-border;
    background-color: $white;
    height: 500px;
    width: 100%;
    overflow: auto;
  }

  li {
    border-bottom: $neutral-border;
    cursor: $click-cursor;
  }
  li.active {
    background-color: $primary-color;
  }
  .cu-illustrated-list-left {
    display: inline-block;
    width: 27%;
  }
  .cu-illustrated-list-number {
    color: $secondary-color-dark;
    padding-right: 5px;
  }
  li.active .cu-illustrated-list-number {
    color: $black;
  }
  
  .cu-illustrated-list-left img {
    display: block;
    margin: 0 auto;
    padding: $space-half-y;
  }
  .cu-illustrated-list-left .label {
    display: block;
    margin: 5 auto;
    text-align: center;
    padding: $space-half-y;
  }
   .cu-illustrated-list-right {
    display: inline-block;
    width: 70%;
  }
  .cu-illustrated-list-right table {
    width: 100%;
  }
   .cu-illustrated-list-right td,
   .cu-illustrated-list-right th {
    padding: 3px 15px 0 15px;
    font-size: 13px;
    text-align: center;
  }

}