
.cu-modal {
    background-color: $black;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    margin: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .cu-modal-content {
        background-color: $white;
        margin: $space auto;
        width: 80%;
    }

      .cu-modal-header {
        background-color: $primary-color;
        border-bottom: $primary-border;
        color: $white;
        text-shadow: $shadow;
        padding: 5px 16px;
        text-align: left;
      }

      .cu-modal-body {
        background-color: $white;
        padding: 5px 16px;
        
      }
      
      .cu-modal-footer {
        background-color: $neutral-color;
        border-top: $neutral-border;
        border: 0;
        padding: 5px 16px;
        position: relative;
        height: 40px;
        .cu-button {
            position: absolute;
            right: 5px;
          }
      }

      .cu-modal-close {
        color: $neutral-color-dark;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;

        &:hover,
        &:focus {
          color: $black;
          text-decoration: none;
        }
      }
      

  }




