
$radius: 5px;

$space: 10px;
$space-half: $space/2;
$space-double: $space*2;

$space-y: $space 0;
$space-x: 0 $space;
$space-half-y: $space-half 0;

$click-cursor: pointer;


// COLOR ----------------------------------------------------------------------
// COLOR ----------------------------------------------------------------------
// COLOR ----------------------------------------------------------------------

$primary-color: #f1d63f;
$primary-color-dark: #d4b60f;
$primary-color-light: #f6e586;

$secondary-color: #3f5af1;
$secondary-color-dark: #0f2dd4;
$secondary-color-light: #8697f6;

$neutral-color: #cccccc;
$neutral-color-dark: #a6a6a6;
$neutral-color-light: #f2f2f2;

$white: #FFF;
$black: #333;


// BORDER ---------------------------------------------------------------------
// BORDER ---------------------------------------------------------------------
// BORDER ---------------------------------------------------------------------

$border-type: solid;
$border-weight: 1px;

$primary-border: $border-weight $border-type $primary-color-dark; 
$secondary-border: $border-weight $border-type $secondary-color-dark; 
$neutral-border: $border-weight $border-type $neutral-color-dark; 



$shadow: 1px 1px 2px $black;

$shadow-grey: 1px 1px 2px $neutral-color;