.cu-round-pres {
    display: inline-block;
    background-color: $white;
    border: 2px solid $secondary-color-dark;
    border-bottom: 2px solid $primary-color-dark;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  .cu-round-label {
    display: inline-block;
    margin-left: 5px;
    opacity: 0.85;
  }