.cu-progress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
  }
  .cu-progress .cu-bar {
    position: absolute;
    height: 100%;
    background-color: #306db5;
  }
  // TODO 