.cu-search-bar {
    margin-top: $space;
    width: 100%;
  }
  .cu-search-bar .cu-input {
    border: $neutral-border;
    font-size: 16px;
    width: 50%;
    padding: 12px 20px 12px 40px;
    background-image: url("../images/icons/searchicon.png");
    background-position: 10px 12px;
    background-repeat: no-repeat;
  }