$acier :#9EB6B8;
$combat: #D56723;
$dragon: #F16E57;
$eau: #4592C4;
$electrik: #EED535;
$fee: #FDB9E9;
$feu: #FD7D24;
$glace: #51C4E7;
$insecte: #729F3F;
$normal: #A3ACAF;
$plante: #9BCC50;
$poison: #B97FC9;
$psy: #F366B9;
$roche: #A38C21;
$sol: #AB9842;
$spectre: #7B62A3;
$tenebres: #707070;
$vol: #3DC7EF;


.bg-acier {
    background-color: $acier;
}
.bg-combat {
    background-color: $combat;
}
.bg-dragon {
    background-color: $dragon;
}
.bg-eau {
    background-color: $eau;
}
.bg-electrik {
    background-color: $electrik;
}
.bg-fee {
    background-color: $fee;
}
.bg-feu {
    background-color: $feu;
}
.bg-glace {
    background-color: $glace;
}
.bg-insecte {
    background-color: $insecte;
}
.bg-normal {
    background-color: $normal;
}
.bg-plante {
    background-color: $plante;
}
.bg-poison {
    background-color: $poison;
}
.bg-psy {
    background-color: $psy;
}
.bg-roche {
    background-color: $roche;
}
.bg-sol {
    background-color: $sol;
}
.bg-spectre {
    background-color: $spectre;
}
.bg-tenebres {
    background-color: $tenebres;
}
.bg-vol {
    background-color: $vol;
}
