<template>
  <div>
    <div class="cu-search-bar">
      <input type="text" class="cu-input" placeholder="Chercher une attaque" v-model="search" />
    </div>

    <div class="cu-illustrated-list">
      <ul>
        <li
          v-for="attack in filteredAttack"
          :key="attack.nom"
          :class="isActive(attack)"
          @click="onClick(attack)"
        >
          <div class="cu-illustrated-list-left">
            <img :src="attackType(attack.type)" />
            <span class="label">
              <span v-text="attack.ct" v-if="attack.ct !== '-'"></span>
              <span v-text="attack.nom"></span>
            </span>
          </div>
          <div class="cu-illustrated-list-right">
            <table>
              <thead>
                <tr>
                  <th>Points de pouvoir</th>
                  <th>Puissance</th>
                  <th>Précision</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span v-text="attack.pp"></span>
                  </td>
                  <td>
                    <span v-text="attack.puissance"></span>
                  </td>
                  <td>
                    <span v-text="attack.prec"></span>
                  </td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td colspan="3">
                    <span v-text="attack.description"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import data from "../data/data";

export default {
  name: "AttackList",
  data() {
    return {
      search: "",
      attacks: data.attacks,
      selectedAttack: null,
      typesImages: require.context("../assets/images/types", false, /\.png$/)
    };
  },
  computed: {
    filteredAttack() {
      return this.search === ""
        ? this.attacks
        : this.attacks.filter(item => {
            return item.nom.toLowerCase().includes(this.search.toLowerCase());
          });
    }
  },
  methods: {
    onClick(attack) {
      this.selectedAttack = attack;
      this.$emit("change", this.selectedAttack);
    },
    isActive(attack) {
      return this.selectedAttack !== null &&
        this.selectedAttack.nom === attack.nom
        ? "active"
        : "";
    },
    attackType(type) {
      return type ? this.typesImages(`./${type}.png`) : "";
    }
  }
};
</script>

