
<template>
  <div>
    <header class="cu-header">
      <div class="cu-brand">Pokemon</div>
      <NavComponent :classes="['cu-nav']" :items="menu" v-model="selected" :options="menuOptions"></NavComponent>
    </header>

    <section class="cu-section">
      <router-view></router-view>
    </section>
  </div>
</template>

<script>
import { NavComponent } from "vue-easy-comp";

const menu = [
  { name: "pokedex", label: "Pokedex" },
  { name: "fight", label: "Combat" },
  { name: "attacks", label: "Attaques" }
];

function findByName(items, value) {
  return items.find(item => item.name === value);
}

export default {
  name: "Content",
  components: { NavComponent },
  data() {
    return {
      menu,
      menuOptions: {
        descriptionField: "label",
        idField: "name"
      },
      selected: menu[0]
    };
  },
  watch: {
    selected(value) {
      if (value.name !== this.$router.currentRoute.name) {
        this.$router.push({ name: value.name });
      }
    },
    $route(to) {
      if (to.name !== this.selected.name) {
        this.selected = findByName(this.menu, to.name);
      }
    }
  }
};
</script>

<style lang="scss">
@import "../assets/scss/parameters";
@import "../assets/scss/header";

.cu-section {
  padding: $space;
  width: 80%;
  margin: auto;
}
</style>
