<template>
  <div> 
    <div v-if="!ready">
      <div class="cu-row">
        <div class="cu-column">
          <PreparePokemonComponent @change="(fighter)=>changeFighter(fighter,0)"></PreparePokemonComponent>
        </div>
        
        <div class="cu-column">
        <PreparePokemonComponent @change="(fighter)=>changeFighter(fighter,1)"></PreparePokemonComponent>
        </div>
      </div>
        <div>
          <button class="cu-button" @click="onReadyClick">Commencer</button>
        </div> 
    </div>
    <div v-if="ready">
      <FightManager :fighters="fighters"></FightManager>
    </div>
  </div>
</template>

<script>
import PreparePokemonComponent from "./PreparePokemon.vue";
import FightManager from './FIghtManager';

export default {
  name: "Fight",
  components: { PreparePokemonComponent, FightManager },
  data() {
    return {
      fighters: [],
      ready: false
    }
  },
  methods:{
    changeFighter(fighter, index){
      this.fighters[index] = fighter;  
    },
    onReadyClick(){
      this.ready = true;
    }
  }
};
</script>

<style lang="scss">
.cu-row {
  display: flex;

}

.cu-column {
  flex: 50%;

  .pokemon-card {
    margin: auto;
  }
}

.cu-button {
  display: block;
  margin: auto;
}

</style>
