
<template>
  <div>


      <div class="cu-row">
        <div class="cu-column" v-for="(fighter, index) in fighters" :key="index">

            <div class="cu-round-pres">
                <img :src="pokemonImageSrc(fighter)" />
            </div>

            <div>
                <div class="cu-name">
                    <span v-text="fighter.nom"></span>
                    Lvl <span v-text="fighter.level"></span>
                </div>
                <div class="cu-pv">
                    <span v-text="fighter.stats.total.pv - fighter.stats.damage"></span> / 
                    <span v-text="fighter.stats.total.pv"></span> PV
                </div>
            </div>
            <div>
                <HpBar :remaining="fighter.stats.total.pv - fighter.stats.damage" 
                        :total="fighter.stats.total.pv">
                </HpBar>
            </div>
            <div>
                <ul class="attack-list">
                    <li v-for="attack in fighter.attacks" :key="attack.nom"
                    :class="attackClasses(attack.type)"
                    @click="onAttackCliked(attack, index)">
                        {{attack.nom}}
                    </li>
                </ul>
            </div>


         
        </div>  
      </div>
      <div>
          <ul>
              <li v-for="(log,index) in logs" :key="index">
                  <span class="attacker" v-text="log.attacker.nom"></span> 
                  inflicts 
                  <span class="damage" v-text="log.damage"> </span> damages
                  to 
                  <span class="defender" v-text="log.defender.nom"></span> 
              </li>
          </ul>
      </div>
  </div>
</template>

<script>
import HpBar from './HpBar';
import {calculStab, calculDamageRoll, calculModif, calculDamage} from '../objects/computations'
import types from '../data/types.json';

export default {
  name: "FightManager",
  components:{
HpBar
  },
  props:{
      fighters: {
          required: true
      }
  },
  data(){
      return {
          pkmImages: require.context("../assets/images/", false, /\.png$/),
          logs:[]
      }
  },
  methods:{
    pokemonImageSrc(pokemon) {
      try {
        return this.pkmImages(`./${pokemon.image}.png`);
      } catch (_) {
        return "";
      }
    },
    attackClasses(type) {
        return `attack bg-${type.toLowerCase()}`;
    },
    onAttackCliked(attack, index){
        if(index === 0) {
            return this.attack(attack, this.fighters[0],this.fighters[1]);
        }
        return this.attack(attack, this.fighters[1],this.fighters[0]);
    },
    attack(attack, attacker, defender){
        if( attack.puissance !== '-') {
            const damageRoll = calculDamageRoll();
            const stab = calculStab(attacker.types[0], attacker.types[1], attack.type);
            const type = types[attack.type][defender.types[0]][defender.types[1] ? defender.types[1]: 'NO'];
            const modificator = calculModif(stab, type, 1, 1, damageRoll)
            const att = attack.classe === "Phys." ? attacker.stats.total.att : attacker.stats.total.attS
            const def = attack.classe === "Phys." ? attacker.stats.total.def : attacker.stats.total.defS
            const damage = calculDamage(attacker.level, att , def, attack.puissance, modificator);
            this.logs.push({damageRoll,stab,type,modificator,att, def, damage, attacker, defender, attack});

            if( defender.stats.damage + damage > defender.stats.total.pv){
                defender.stats.damage = defender.stats.total.pv;
                return;
            }
            defender.stats.damage += damage; 
            
        }
    
    }
  }

  
};
</script>

<style lang="scss">
@import "../assets/scss/parameters";
@import "../assets/scss/types";

.cu-row {
  display: flex;

}

.cu-column {
  flex: 50%;
  padding: $space;

  .pokemon-card {
    margin: auto;
  }
}
.cu-round-pres {
    display: block;
    margin: auto;
}

.cu-name , .cu-pv{
    display: inline-block;
    width: 50%;
    padding: $space 0 0 0;
}
.cu-pv {
    text-align: right;
}
.attack-list{
    margin: 0;
    list-style: none;
    padding: $space 0;

    .attack {
        padding: $space;
        cursor: pointer;
        border: $neutral-border;
        margin: $space-half 0;
    }
}
</style>
