<template>
  <div class="cu-hp-bar">
  <div class="cu-hp-backgound">
    <div class="cu-hp-remaining" :style="style">
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: "HpBar",
  props:{
    remaining: {
      required: true
    },
    total: {
      required: true
    }
  },
  computed: {
    style() {
      return {
        width: `${(this.remaining/this.total)*100}%`
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/parameters";

.cu-hp-backgound {
 background-color: $neutral-color;
 height: $space-double;
 border: $neutral-border;
}

.cu-hp-remaining {
   background-color: $primary-color;
   height: $space-double;

}


</style>
