<template>
  <div>
    <div class="cu-modal" data-ng-show="modalOpen">
      <!-- Modal content -->
      <div class="cu-modal-content">
        <div class="cu-modal-header">
          <slot name="header"></slot>
        </div>

        <div class="cu-modal-body">
          <slot name="body"></slot>
        </div>

        <div class="cu-modal-footer">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal"
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/parameters";
@import "../assets/scss/modal";
</style>
