

<template>
  <div>
    <div class="cu-search-bar">
      <input type="text" class="cu-input" placeholder="Chercher un pokémon" v-model="search" />
    </div>

    <div class="cu-illustrated-list">
      <ul>
        <li
          v-for="pokemon in filteredPokedex"
          :key="pokemon.name"
          :class="isActive(pokemon)"
          @click="click(pokemon)"
        >
          <div class="cu-illustrated-list-left">
            <img :src="pokemonImageSrc(pokemon)" />
            <span class="label">
              <span class="cu-illustrated-list-number" v-text="pokemon.num"></span>
              <span v-text="pokemon.nom"></span>
            </span>
          </div>
          <div class="cu-illustrated-list-right">
            <table>
              <thead>
                <tr>
                  <th>Types</th>
                  <th>PV</th>
                  <th>ATT</th>
                  <th>DEF</th>
                  <th>ATT SP</th>
                  <th>DEF SP</th>
                  <th>VIT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img :src="pokemonType(pokemon.types[0])" />
                    <br />
                    <img v-if="pokemon.types.length>1" :src="pokemonType(pokemon.types[1])" />
                  </td>
                  <td>
                    <span v-text="pokemon.pv"></span>
                  </td>
                  <td>
                    <span v-text="pokemon.att"></span>
                  </td>
                  <td>
                    <span v-text="pokemon.def"></span>
                  </td>
                  <td>
                    <span v-text="pokemon.attS"></span>
                  </td>
                  <td>
                    <span v-text="pokemon.defS"></span>
                  </td>
                  <td>
                    <span v-text="pokemon.vit"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import data from "../data/data";

export default {
  name: "PokemonList",
  data() {
    return {
      search: "",
      pokedex: data.pokemons,
      selectedPokemon: null,
      pkmImages: require.context("../assets/images/", false, /\.png$/),
      typesImages: require.context("../assets/images/types", false, /\.png$/)
    };
  },
  computed: {
    filteredPokedex() {
      return this.search === ""
        ? this.pokedex
        : this.pokedex.filter(item => {
            return item.nom.toLowerCase().includes(this.search.toLowerCase());
          });
    }
  },
  methods: {
    click(pokemon) {
      this.selectedPokemon = pokemon;
      this.$emit("change", this.selectedPokemon);
    },
    isActive(pokemon) {
      return this.selectedPokemon !== null &&
        this.selectedPokemon.nom === pokemon.nom
        ? "active"
        : "";
    },
    pokemonImageSrc(pokemon) {
      try {
        return this.pkmImages(`./${pokemon.image}.png`);
      } catch (_) {
        return "";
      }
    },
    pokemonType(type) {
      return type ? this.typesImages(`./${type}.png`) : "";
    }
  }
};
</script>
