<template>
  <div class="pokemon-card">
    <div class="cu-padding-top">
      <div class="pokemon-card-header">
        <div class="cu-round-pres">
          <img :src="pokemonImageSrc(selectedPokemon)" />
        </div>

        <div class="cu-round-label">
          <span v-text="selectedPokemon.num"></span>
          <br />
          <span v-text="selectedPokemon.nom"></span>
        </div>

        <div class="pokemon-types">
          
          <img :src="imageType(selectedPokemon.types[0])" />
          <img :src="imageType(selectedPokemon.types[1])" v-if="selectedPokemon.types[1]" />
          <div>
            <SelectPokemon @change="onPokemonChange" class="action"></SelectPokemon>
          </div>
        </div>
      </div>

      <div class="pokemon-card-body">
        <div class="pokemon-card-select">
          <label>Nature:</label>
          <SelectComponent
            :items="natures"
            :options="{descriptionField:'descr'}"
            v-model="selectedNature"
            @change="onNatureChange"
            class="select-div"
          ></SelectComponent>
        </div>

        <div class="cu-padding-top">
          <label>Niveau:</label>
          <input
            type="number"
            class="cu-small-input"
            v-model="preparedPokemon.level"
            @change="onChange"
          />
        </div>

        <table class="pokemon-table">
          <thead>
            <tr>
              <th></th>
              <th>Base</th>
              <th>IV</th>
              <th>EV</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="first-col">PV</td>
              <td>
                <span v-text="selectedPokemon.pv"></span>
              </td>
              <td>
                <input
                  type="number"
                  class="cu-small-input"
                  v-model="preparedPokemon.stats.ivs.pv"
                  @change="onChange"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="cu-small-input"
                  v-model="preparedPokemon.stats.evs.pv"
                  @change="onChange"
                />
              </td>
              <td v-text="preparedPokemon.stats.total.pv"></td>
            </tr>

            <tr>
              <td class="first-col">ATT</td>
              <td>
                <span v-text="selectedPokemon.att"></span>
              </td>
              <td>
                <input
                  type="number"
                  class="cu-small-input"
                  v-model="preparedPokemon.stats.ivs.att"
                  @change="onChange"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="cu-small-input"
                  v-model="preparedPokemon.stats.evs.att"
                  @change="onChange"
                />
              </td>
              <td v-text="preparedPokemon.stats.total.att"></td>
            </tr>
            <tr>
              <td class="first-col">DEF</td>
              <td>
                <span v-text="selectedPokemon.def"></span>
              </td>
              <td>
                <input
                  type="number"
                  class="cu-small-input"
                  v-model="preparedPokemon.stats.ivs.def"
                  @change="onChange"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="cu-small-input"
                  v-model="preparedPokemon.stats.evs.def"
                  @change="onChange"
                />
              </td>
              <td v-text="preparedPokemon.stats.total.def"></td>
            </tr>
            <tr>
              <td class="first-col">ATT S</td>
              <td>
                <span v-text="selectedPokemon.attS"></span>
              </td>
              <td>
                <input
                  type="number"
                  class="cu-small-input"
                  v-model="preparedPokemon.stats.ivs.attS"
                  @change="onChange"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="cu-small-input"
                  v-model="preparedPokemon.stats.evs.attS"
                  @change="onChange"
                />
              </td>
              <td v-text="preparedPokemon.stats.total.attS"></td>
            </tr>
            <tr>
              <td class="first-col">DEF S</td>
              <td>
                <span v-text="selectedPokemon.defS"></span>
              </td>
              <td>
                <input
                  type="number"
                  class="cu-small-input"
                  v-model="preparedPokemon.stats.ivs.defS"
                  @change="onChange"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="cu-small-input"
                  v-model="preparedPokemon.stats.evs.defS"
                  @change="onChange"
                />
              </td>
              <td v-text="preparedPokemon.stats.total.defS"></td>
            </tr>
            <tr>
              <td class="first-col">VIT</td>
              <td>
                <span v-text="selectedPokemon.vit"></span>
              </td>
              <td>
                <input
                  type="number"
                  class="cu-small-input"
                  v-model="preparedPokemon.stats.ivs.vit"
                  @change="onChange"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="cu-small-input"
                  v-model="preparedPokemon.stats.evs.vit"
                  @change="onChange"
                />
              </td>
              <td v-text="preparedPokemon.stats.total.vit"></td>
            </tr>
          </tbody>
        </table>
        <div class="actions">
          
          <SelectAttack
            @change="onAttackChange"
            v-if="preparedPokemon.attacks.length < 4"
            class="action"
          ></SelectAttack>
        </div>
        <div class="attack-card">
          <table>
            <thead></thead>
            <tbody>
              <tr v-for="(attack, index) in preparedPokemon.attacks" :key="attack.nom">
                <td>
                  <img :src="imageType(attack.type)" />
                </td>
                <td v-text="attack.nom"></td>
                <td>
                  <span class="delete" @click="removeAttack(index)">Supprimer</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { SelectComponent } from "vue-easy-comp";
import SelectPokemon from "./SelectPokemon";
import SelectAttack from "./SelectAttack";
import { computeStat, emptyPokemon, STATS } from "../objects/pokemon";
import data from "../data/data";

import { launchDice } from "rptools/dice";

function randomSelection(items) {
  return items[launchDice(items.length) - 1];
}

function copyPokemon(completePokemon, pokedexPokemon) {
  completePokemon.num = pokedexPokemon.num;
  completePokemon.types = pokedexPokemon.types;
  completePokemon.image = pokedexPokemon.image;
  completePokemon.nom = pokedexPokemon.nom;
  completePokemon.stats.base.pv = pokedexPokemon.pv;
  completePokemon.stats.base.att = pokedexPokemon.att;
  completePokemon.stats.base.def = pokedexPokemon.def;
  completePokemon.stats.base.attS = pokedexPokemon.attS;
  completePokemon.stats.base.defS = pokedexPokemon.defS;
  completePokemon.stats.base.vit = pokedexPokemon.vit;

  return completePokemon;
}

function computePokemon(completePokemon) {
  STATS.forEach(stat => {
    completePokemon.stats.total[stat] = computeStat(
      stat,
      completePokemon.stats.base,
      completePokemon.stats.ivs,
      completePokemon.stats.evs,
      completePokemon.level,
      completePokemon.nature
    );
  });
  return completePokemon;
}

export default {
  name: "PreparePokemon",
  components: {
    SelectComponent,
    SelectPokemon,
    SelectAttack
  },
  data() {
    return {
      pkmImages: require.context("../assets/images/", false, /\.png$/),
      typesImages: require.context("../assets/images/types", false, /\.png$/),
      natures: data.natures,
      selectedPokemon: randomSelection(data.pokemons),
      selectedNature: data.natures[0],
      preparedPokemon: emptyPokemon()
    };
  },
  beforeMount() {
    this.preparedPokemon.nature = this.selectedNature;
    this.preparedPokemon = copyPokemon(
      this.preparedPokemon,
      this.selectedPokemon
    );
    this.preparedPokemon = computePokemon(this.preparedPokemon);
    this.$emit("change", this.preparedPokemon);
  },
  methods: {
    pokemonImageSrc(pokemon) {
      try {
        return this.pkmImages(`./${pokemon.image}.png`);
      } catch (_) {
        return "";
      }
    },
    imageType(type) {
      return type ? this.typesImages(`./${type}.png`) : "";
    },
    onPokemonChange(pokemon) {
      this.selectedPokemon = pokemon;
      this.preparedPokemon = copyPokemon(this.preparedPokemon, pokemon);
      this.preparedPokemon = computePokemon(this.preparedPokemon);
      this.$emit("change", this.preparedPokemon);
    },
    onNatureChange(nature) {
      this.selectedNature = nature;
      this.preparedPokemon.nature = nature;
      this.preparedPokemon = computePokemon(this.preparedPokemon);
      this.$emit("change", this.preparedPokemon);
    },
    onAttackChange(attack) {
      this.preparedPokemon.attacks.push(attack);
      this.$emit("change", this.preparedPokemon);
    },
    removeAttack(index) {
      this.preparedPokemon.attacks.splice(index, 1);
      this.$emit("change", this.preparedPokemon);
    },
    onChange() {
      this.preparedPokemon = computePokemon(this.preparedPokemon);
      this.$emit("change", this.preparedPokemon);
    }
  }
};
</script>
<style lang="scss" >
@import "../assets/scss/parameters";

.pokemon-card {
  background-color: $white;
  border: $neutral-border;
  margin: $space auto;
  border-radius: $radius;
  max-width: 400px;

  .actions {
    padding: $space 0;
    .action {
      display: inline;
      padding-right: $space;
    }
  }

  .pokemon-card-header {
    border-bottom: $neutral-border;
    padding: $space;
  }

  .pokemon-card-body {
    padding: $space;
  }

  .pokemon-card-select {
    .select-div,
    label {
      display: inline-block;
      width: 50px;
      padding-right: $space;
    }
  }
  .cu-small-input {
    margin-left: $space;
  }

  .first-col {
    text-align: left;
  }

  .pokemon-types {
    float: right;
    text-align: right;
  }
}

.pokemon-card .pokemon-table {
  background-color: $white;
  border: $neutral-border;
  padding: $space;
  margin-top: $space;
  border-collapse: collapse;
  text-align: center;
  width: 100%;

  thead {
    background-color: $neutral-color;
  }

  td,
  th {
    padding: $space-half;
  }
}

.attack-card {
  padding: 10px 0;

  table {
    padding: 10px 0;
    width: 100%;

    .delete {
      color: red;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
</style>