

<template>
  <div>
    <button class="cu-button" @click="openModal">Ajouter une attaque</button>
    <Modal v-if="showModal">
      <template v-slot:header>
        <span class="cu-modal-close" @click="closeModal">×</span>
        <h2>Chosir une attaque</h2>
      </template>
      <template v-slot:body>
        <AttackList @change="onChange"></AttackList>
      </template>
      <template v-slot:footer>
        <button v-if="selectedAttack" class="cu-button" @click="confirm">Confirmer</button>
      </template>
    </Modal>
  </div>
</template>

<script>
import AttackList from "./AttackList.vue";
import Modal from "./Modal.vue";
export default {
  name: "SelectPokemon",
  components: {
    Modal,
    AttackList
  },
  data() {
    return {
      showModal: false,
      selectedAttack: null
    };
  },
  methods: {
    openModal() {
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
    },
    confirm() {
      this.closeModal();
      this.$emit("change", this.selectedAttack);
    },
    onChange(attack) {
      this.selectedAttack = attack;
    }
  }
};
</script>

