

<template>
  <div>
    <span class="cu-floating-label" @click="openModal">Choisir un pokemon</span>
    <Modal v-if="showModal">
      <template v-slot:header>
        <span class="cu-modal-close" @click="closeModal">×</span>
        <h2>Choisir un pokemon</h2>
      </template>
      <template v-slot:body>
        <PokemonList @change="onChange"></PokemonList>
      </template>
      <template v-slot:footer>
        <button v-if="selectedPokemon" class="cu-button" @click="confirm">Confirmer</button>
      </template>
    </Modal>
  </div>
</template>

<script>
import PokemonList from "./PokemonList.vue";
import Modal from "./Modal.vue";
export default {
  name: "SelectPokemon",
  components: {
    Modal,
    PokemonList
  },
  data() {
    return {
      showModal: false,
      selectedPokemon: null
    };
  },
  methods: {
    openModal() {
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
    },
    confirm() {
      this.closeModal();
      this.$emit("change", this.selectedPokemon);
    },
    onChange(pokemon) {
      this.selectedPokemon = pokemon;
    }
  }
};
</script>

<style lang="scss" >
@import "../assets/scss/parameters";

.cu-floating-label{
  color: $neutral-color-dark;
  cursor: pointer;
}
</style>
