<template>
  <div id="app">
    <Content></Content>
  </div>
</template>

<script>
import Content from "./components/Content.vue";

export default {
  name: "App",
  components: {
    Content
  }
};
</script>

<style lang="scss">
@import "./assets/scss/parameters";

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  background-color: $neutral-color-light;
}

.cu-padding-top {
  padding-top: $space;
}
.cu-small-input {
  width: 50px;
}
</style>



   
